
html{
	font-family:Courier New;
	
}
body {
    font-family: Courier New, Helvetica, sans-serif;
    margin: 0;
    background-color: #605f5f;
  }

h2{
	color:#19d626; 
}
#mainTitle{
	color: #19d626; 
	text-align: center;
	font-size: 40px;

}

.clickerstyle {
	box-shadow:inset 0px 34px 0px -15px #3a3b3b;
	background-color:#3a3b3b;
	border:6px solid #858585;
    display: center;
    width: 160px;
    height: 70px;
	cursor:pointer;
	color:#19d626;
	font-family:Courier New;
	font-size:28px;
	font-weight:bold;
	padding:10px 5px;
	text-decoration:none;
    text-shadow:0px 5px 0px #333;
	box-shadow: 0 9px rgb(41, 41, 41);
	

}
.clicker:hover {
	background-color:#3a3b3b;
}
.clicker:active {
	position:relative;
	transform: translateY(2px);
}
.flexcontainer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	border-style: solid;
}
.gpustyle{

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		border-style: solid;
		border-color: #19d626;
		border-width: 4px;
		min-height: 520px;
		width: 350px;
		background-color: #333;
		

		
	
}

.middlestyle{
	
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		align-content: space-around;
		border-style: solid;
		border-color: #19d626;
		border-width: 4px;
		min-height: 520px;
		width: 350px;
		margin: 10px;
		color: whitesmoke;
		background-color: #333;
	
}
#midinfo{
font-weight:bold;


}
#mid1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	margin-bottom: 10px;
	margin-top: 10px;
	
}
#mid2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 10px;

}
.infstyle{
	
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		border-style: solid;
		border-color: #19d626;
		background-color: #333;
		border-width: 4px;
		min-height: 520px;
		width: 350px;
}
#coinsperclick{
	font-weight: bold;
	color: whitesmoke;
}
#pricepersec{
	font-weight: bold;
	color: whitesmoke;
}


.navbar {
	background-color: #333;
	font-size: 22px;
	line-height: 22px;
	color: #19d626;
	display: flex;
	justify-content: center;
	
	
  }

.navbar a {
	padding: 8px 10px;
	color: #19d626;
	display: inline-block;
	text-align: center;
	text-decoration: none;	
  }
.gpubutton{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-between;
	padding: 10px 10px;
	margin: 0 5px;
	font-weight: bold;
	color: whitesmoke;
	border-style: solid;
	border-color: #858585;
	width: 300px;
	height: 30px;
	margin: 2px;

}

.infbutton{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-between;
	padding: 10px 10px;
	margin: 0 5px;
	font-weight: bold;
	color: whitesmoke;
	border-style: solid;
	border-color: #858585;
	width: 300px;
	height: 30px;
	margin: 2px;
}
